.sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 0px;
  text-align: center;
}
.sections h2 {
  font-size: 1.2em;
  padding-bottom: 50px;
  width: 100%;
  color: #222;
}

.title, .description {
  text-align: start;
}

/*Section Home*/

.home {
  background: rgba(177, 9, 170, 0.8);
  margin-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home p {
  color: #222;
  font-size: 1.2em;
  line-height: 40px;
  margin: 0px 15px;
}

/*Section About*/

.about {   
  background: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;

}

/*Projects*/

.portfolio {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(177, 9, 170, 0.8);
  color: #222;
}
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}
.portfolio h2, .project .title h4 a {
  color: #222;
}