h1, h2, label, a {
  font-family: 'Roboto',Arial,sans-serif;
}
p, h4, span {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
body {
  max-width: 1280px;
  margin: auto;
}
main {
  padding: 0;
  margin: 0;
}